/*This is the CSS page for our final template.*/

p {
	font-family: 'Arial', serif;
	font-size: 20px;
}
img {
	float: right;
	margin-right: 5%;
	margin-left: 5%;
}

.footer p { /* This is how you add styles for only the p text within the footer. */
	background-color: #C4D6B0;
	text-align: center;
	font-size: 20px;
	margin-bottom: 0;
}
.header {
	height: auto;
	font-weight: bold;
	font-size: 50px;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	background-color: #A3333D;
	color: #C4D6B0;
}
h4 {
	font-style: italic;
	font-size: 40px;
	font-family: 'Poppins', sans-serif;
}
h3 {
	font-family: "Poppins", sans-serif;
  	font-weight: 500;
  	font-style: normal;
	font-size: 30px;
}


/*Don't worry about this section yet*/
@media only screen and (max-width: 767px)
{
 .list {
 	float: none;
 	min-width: 90%;
 	margin-left: 10px;
 	margin-bottom: 30px;
 	margin-top: 30px;
 }
 iframe {
 	min-width: 90%;
 	margin-right: 10px;
 }
}

.everything {
	margin:80px;
}

.subhead {
	color:#114e6b;
}